# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token

# Database Configuration
DB_HOST=postgres
db_port=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=egonez
DB_SSLMODE=disable

# Application Configuration
LOG_LEVEL=debug
ENVIRONMENT=development

PGADMIN_DEFAULT_EMAIL=admin@admin.admin
PGADMIN_DEFAULT_PASSWORD=admin